@charset "UTF-8";
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

.testimonials .owl-carousel .owl-nav button.owl-prev,
.testimonials .owl-carousel .owl-nav button.owl-next {
  font-size: 30px; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

:root {
  --reflex-columns: 12;
  --reflex-grid-spacing: 15px;
  --reflex-xs: 576px;
  --reflex-sm: 768px;
  --reflex-md: 992px;
  --reflex-lg: 1200px;
  --reflex-xlg: 1600px;
  --reflex-xxs-max: 575px;
  --reflex-xs-max: 767px;
  --reflex-sm-max: 991px;
  --reflex-md-max: 1199px;
  --reflex-lg-max: 1599px; }

.container,
.container-full {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  .container .grid,
  .container-full .grid {
    margin-right: -15px;
    margin-left: -15px; }

@media (min-width: 576px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 768px; } }

@media (min-width: 992px) {
  .container {
    max-width: 992px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

@media (min-width: 1600px) {
  .container {
    max-width: 1600px; } }

.grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  letter-spacing: -.31em;
  *letter-spacing: normal;
  word-spacing: -.43em;
  list-style-type: none; }
  .grid::before, .grid::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal; }

[class*="col-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1; }
  [class*="col-"]::before, [class*="col-"]::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal; }
  [class*="col-"] .grid {
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    margin: -15px; }

.col-12 {
  width: 100%;
  *width: 99.9%; }

.col-11 {
  width: 91.66667%;
  *width: 91.56667%; }

.col-10 {
  width: 83.33333%;
  *width: 83.23333%; }

.col-9 {
  width: 75%;
  *width: 74.9%; }

.col-8 {
  width: 66.66667%;
  *width: 66.56667%; }

.col-7 {
  width: 58.33333%;
  *width: 58.23333%; }

.col-6 {
  width: 50%;
  *width: 49.9%; }

.col-5 {
  width: 41.66667%;
  *width: 41.56667%; }

.col-4 {
  width: 33.33333%;
  *width: 33.23333%; }

.col-3 {
  width: 25%;
  *width: 24.9%; }

.col-2 {
  width: 16.66667%;
  *width: 16.56667%; }

.col-1 {
  width: 8.33333%;
  *width: 8.23333%; }

@media (min-width: 576px) {
  .col-xs-12 {
    width: 100%;
    *width: 99.9%; }
  .col-xs-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-xs-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-xs-9 {
    width: 75%;
    *width: 74.9%; }
  .col-xs-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-xs-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-xs-6 {
    width: 50%;
    *width: 49.9%; }
  .col-xs-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-xs-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-xs-3 {
    width: 25%;
    *width: 24.9%; }
  .col-xs-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-xs-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
    *width: 99.9%; }
  .col-sm-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-sm-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-sm-9 {
    width: 75%;
    *width: 74.9%; }
  .col-sm-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-sm-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-sm-6 {
    width: 50%;
    *width: 49.9%; }
  .col-sm-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-sm-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-sm-3 {
    width: 25%;
    *width: 24.9%; }
  .col-sm-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-sm-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
    *width: 99.9%; }
  .col-md-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-md-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-md-9 {
    width: 75%;
    *width: 74.9%; }
  .col-md-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-md-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-md-6 {
    width: 50%;
    *width: 49.9%; }
  .col-md-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-md-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-md-3 {
    width: 25%;
    *width: 24.9%; }
  .col-md-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-md-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
    *width: 99.9%; }
  .col-lg-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-lg-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-lg-9 {
    width: 75%;
    *width: 74.9%; }
  .col-lg-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-lg-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-lg-6 {
    width: 50%;
    *width: 49.9%; }
  .col-lg-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-lg-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-lg-3 {
    width: 25%;
    *width: 24.9%; }
  .col-lg-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-lg-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

@media (min-width: 1600px) {
  .col-xlg-12 {
    width: 100%;
    *width: 99.9%; }
  .col-xlg-11 {
    width: 91.66667%;
    *width: 91.56667%; }
  .col-xlg-10 {
    width: 83.33333%;
    *width: 83.23333%; }
  .col-xlg-9 {
    width: 75%;
    *width: 74.9%; }
  .col-xlg-8 {
    width: 66.66667%;
    *width: 66.56667%; }
  .col-xlg-7 {
    width: 58.33333%;
    *width: 58.23333%; }
  .col-xlg-6 {
    width: 50%;
    *width: 49.9%; }
  .col-xlg-5 {
    width: 41.66667%;
    *width: 41.56667%; }
  .col-xlg-4 {
    width: 33.33333%;
    *width: 33.23333%; }
  .col-xlg-3 {
    width: 25%;
    *width: 24.9%; }
  .col-xlg-2 {
    width: 16.66667%;
    *width: 16.56667%; }
  .col-xlg-1 {
    width: 8.33333%;
    *width: 8.23333%; } }

.col-auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  -webkit-box-flex: 1;
  flex: 1 0 0px;
  width: auto; }

@media (min-width: 576px) {
  .col-xs-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    -webkit-box-flex: 1;
    flex: 1 0 0px;
    width: auto; } }

@media (min-width: 768px) {
  .col-sm-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    -webkit-box-flex: 1;
    flex: 1 0 0px;
    width: auto; } }

@media (min-width: 992px) {
  .col-md-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    -webkit-box-flex: 1;
    flex: 1 0 0px;
    width: auto; } }

@media (min-width: 1200px) {
  .col-lg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    -webkit-box-flex: 1;
    flex: 1 0 0px;
    width: auto; } }

@media (min-width: 1600px) {
  .col-xlg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    -webkit-box-flex: 1;
    flex: 1 0 0px;
    width: auto; } }

.order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  -webkit-box-ordinal-group: 13;
  order: 12; }

.order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  -webkit-box-ordinal-group: 12;
  order: 11; }

.order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  -webkit-box-ordinal-group: 11;
  order: 10; }

.order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  -webkit-box-ordinal-group: 10;
  order: 9; }

.order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  -webkit-box-ordinal-group: 9;
  order: 8; }

.order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  -webkit-box-ordinal-group: 8;
  order: 7; }

.order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  -webkit-box-ordinal-group: 7;
  order: 6; }

.order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  -webkit-box-ordinal-group: 6;
  order: 5; }

.order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  -webkit-box-ordinal-group: 5;
  order: 4; }

.order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  -webkit-box-ordinal-group: 4;
  order: 3; }

.order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  -webkit-box-ordinal-group: 3;
  order: 2; }

.order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

.order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  -webkit-box-ordinal-group: 1;
  order: 0; }

@media only screen and (min-width: 576px) {
  .order-xs-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    -webkit-box-ordinal-group: 13;
    order: 12; }
  .order-xs-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    -webkit-box-ordinal-group: 12;
    order: 11; }
  .order-xs-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    -webkit-box-ordinal-group: 11;
    order: 10; }
  .order-xs-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    -webkit-box-ordinal-group: 10;
    order: 9; }
  .order-xs-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    -webkit-box-ordinal-group: 9;
    order: 8; }
  .order-xs-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    -webkit-box-ordinal-group: 8;
    order: 7; }
  .order-xs-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    -webkit-box-ordinal-group: 7;
    order: 6; }
  .order-xs-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    -webkit-box-ordinal-group: 6;
    order: 5; }
  .order-xs-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    -webkit-box-ordinal-group: 5;
    order: 4; }
  .order-xs-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3; }
  .order-xs-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2; }
  .order-xs-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .order-xs-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0; } }

@media only screen and (min-width: 768px) {
  .order-sm-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    -webkit-box-ordinal-group: 13;
    order: 12; }
  .order-sm-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    -webkit-box-ordinal-group: 12;
    order: 11; }
  .order-sm-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    -webkit-box-ordinal-group: 11;
    order: 10; }
  .order-sm-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    -webkit-box-ordinal-group: 10;
    order: 9; }
  .order-sm-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    -webkit-box-ordinal-group: 9;
    order: 8; }
  .order-sm-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    -webkit-box-ordinal-group: 8;
    order: 7; }
  .order-sm-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    -webkit-box-ordinal-group: 7;
    order: 6; }
  .order-sm-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    -webkit-box-ordinal-group: 6;
    order: 5; }
  .order-sm-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    -webkit-box-ordinal-group: 5;
    order: 4; }
  .order-sm-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3; }
  .order-sm-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2; }
  .order-sm-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .order-sm-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0; } }

@media only screen and (min-width: 992px) {
  .order-md-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    -webkit-box-ordinal-group: 13;
    order: 12; }
  .order-md-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    -webkit-box-ordinal-group: 12;
    order: 11; }
  .order-md-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    -webkit-box-ordinal-group: 11;
    order: 10; }
  .order-md-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    -webkit-box-ordinal-group: 10;
    order: 9; }
  .order-md-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    -webkit-box-ordinal-group: 9;
    order: 8; }
  .order-md-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    -webkit-box-ordinal-group: 8;
    order: 7; }
  .order-md-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    -webkit-box-ordinal-group: 7;
    order: 6; }
  .order-md-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    -webkit-box-ordinal-group: 6;
    order: 5; }
  .order-md-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    -webkit-box-ordinal-group: 5;
    order: 4; }
  .order-md-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3; }
  .order-md-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2; }
  .order-md-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .order-md-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0; } }

@media only screen and (min-width: 1200px) {
  .order-lg-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    -webkit-box-ordinal-group: 13;
    order: 12; }
  .order-lg-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    -webkit-box-ordinal-group: 12;
    order: 11; }
  .order-lg-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    -webkit-box-ordinal-group: 11;
    order: 10; }
  .order-lg-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    -webkit-box-ordinal-group: 10;
    order: 9; }
  .order-lg-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    -webkit-box-ordinal-group: 9;
    order: 8; }
  .order-lg-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    -webkit-box-ordinal-group: 8;
    order: 7; }
  .order-lg-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    -webkit-box-ordinal-group: 7;
    order: 6; }
  .order-lg-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    -webkit-box-ordinal-group: 6;
    order: 5; }
  .order-lg-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    -webkit-box-ordinal-group: 5;
    order: 4; }
  .order-lg-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3; }
  .order-lg-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2; }
  .order-lg-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .order-lg-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0; } }

@media only screen and (min-width: 1600px) {
  .order-xlg-12 {
    -ms-flex-order: 12;
    -webkit-order: 12;
    -webkit-box-ordinal-group: 13;
    order: 12; }
  .order-xlg-11 {
    -ms-flex-order: 11;
    -webkit-order: 11;
    -webkit-box-ordinal-group: 12;
    order: 11; }
  .order-xlg-10 {
    -ms-flex-order: 10;
    -webkit-order: 10;
    -webkit-box-ordinal-group: 11;
    order: 10; }
  .order-xlg-9 {
    -ms-flex-order: 9;
    -webkit-order: 9;
    -webkit-box-ordinal-group: 10;
    order: 9; }
  .order-xlg-8 {
    -ms-flex-order: 8;
    -webkit-order: 8;
    -webkit-box-ordinal-group: 9;
    order: 8; }
  .order-xlg-7 {
    -ms-flex-order: 7;
    -webkit-order: 7;
    -webkit-box-ordinal-group: 8;
    order: 7; }
  .order-xlg-6 {
    -ms-flex-order: 6;
    -webkit-order: 6;
    -webkit-box-ordinal-group: 7;
    order: 6; }
  .order-xlg-5 {
    -ms-flex-order: 5;
    -webkit-order: 5;
    -webkit-box-ordinal-group: 6;
    order: 5; }
  .order-xlg-4 {
    -ms-flex-order: 4;
    -webkit-order: 4;
    -webkit-box-ordinal-group: 5;
    order: 4; }
  .order-xlg-3 {
    -ms-flex-order: 3;
    -webkit-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3; }
  .order-xlg-2 {
    -ms-flex-order: 2;
    -webkit-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2; }
  .order-xlg-1 {
    -ms-flex-order: 1;
    -webkit-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; }
  .order-xlg-0 {
    -ms-flex-order: 0;
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    order: 0; } }

.offset-11 {
  margin-left: 91.66667%;
  *margin-left: 91.56667%; }

.offset-10 {
  margin-left: 83.33333%;
  *margin-left: 83.23333%; }

.offset-9 {
  margin-left: 75%;
  *margin-left: 74.9%; }

.offset-8 {
  margin-left: 66.66667%;
  *margin-left: 66.56667%; }

.offset-7 {
  margin-left: 58.33333%;
  *margin-left: 58.23333%; }

.offset-6 {
  margin-left: 50%;
  *margin-left: 49.9%; }

.offset-5 {
  margin-left: 41.66667%;
  *margin-left: 41.56667%; }

.offset-4 {
  margin-left: 33.33333%;
  *margin-left: 33.23333%; }

.offset-3 {
  margin-left: 25%;
  *margin-left: 24.9%; }

.offset-2 {
  margin-left: 16.66667%;
  *margin-left: 16.56667%; }

.offset-1 {
  margin-left: 8.33333%;
  *margin-left: 8.23333%; }

@media only screen and (min-width: 576px) {
  .offset-xs-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-xs-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-xs-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-xs-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-xs-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-xs-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-xs-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-xs-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-xs-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-xs-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-xs-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-xs-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

@media only screen and (min-width: 768px) {
  .offset-sm-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-sm-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-sm-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-sm-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-sm-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-sm-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-sm-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-sm-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-sm-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-sm-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-sm-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-sm-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

@media only screen and (min-width: 992px) {
  .offset-md-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-md-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-md-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-md-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-md-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-md-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-md-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-md-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-md-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-md-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-md-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-md-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

@media only screen and (min-width: 1200px) {
  .offset-lg-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-lg-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-lg-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-lg-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-lg-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-lg-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-lg-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-lg-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-lg-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-lg-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-lg-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-lg-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

@media only screen and (min-width: 1600px) {
  .offset-xlg-11 {
    margin-left: 91.66667%;
    *margin-left: 91.56667%; }
  .offset-xlg-10 {
    margin-left: 83.33333%;
    *margin-left: 83.23333%; }
  .offset-xlg-9 {
    margin-left: 75%;
    *margin-left: 74.9%; }
  .offset-xlg-8 {
    margin-left: 66.66667%;
    *margin-left: 66.56667%; }
  .offset-xlg-7 {
    margin-left: 58.33333%;
    *margin-left: 58.23333%; }
  .offset-xlg-6 {
    margin-left: 50%;
    *margin-left: 49.9%; }
  .offset-xlg-5 {
    margin-left: 41.66667%;
    *margin-left: 41.56667%; }
  .offset-xlg-4 {
    margin-left: 33.33333%;
    *margin-left: 33.23333%; }
  .offset-xlg-3 {
    margin-left: 25%;
    *margin-left: 24.9%; }
  .offset-xlg-2 {
    margin-left: 16.66667%;
    *margin-left: 16.56667%; }
  .offset-xlg-1 {
    margin-left: 8.33333%;
    *margin-left: 8.23333%; }
  .offset-xlg-0 {
    margin-left: 0;
    *margin-left: -0.1%; } }

.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .no-wrap [class*="col-"] {
    -ms-flex-negative: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1; }

.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row; }

.direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.align-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  align-items: flex-start; }

.align-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  align-items: flex-end; }
  .align-end [class*="col-"] {
    vertical-align: bottom; }

.align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }
  .align-center [class*="col-"] {
    vertical-align: middle; }

.align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  -webkit-box-align: baseline;
  align-items: baseline; }

.align-content-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.align-content-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end; }
  .align-content-end [class*="col-"] {
    vertical-align: bottom; }

.align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center; }

.align-content-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between; }

.align-content-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around; }

.align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start; }

.align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom; }

.align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  vertical-align: middle; }

.align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline; }

.justify-start {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start; }
  .justify-start.grid {
    text-align: left; }

.justify-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
  justify-content: flex-end; }
  .justify-end.grid {
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right; }
    .justify-end.grid [class*="col-"] {
      text-align: left;
      text-align: start;
      -moz-text-align-last: left;
      -moz-text-align-last: start;
      text-align-last: left;
      text-align-last: start; }

.justify-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center; }
  .justify-center.grid {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center; }
    .justify-center.grid [class*="col-"] {
      text-align: left;
      text-align: start;
      -moz-text-align-last: left;
      -moz-text-align-last: start;
      text-align-last: left;
      text-align-last: start; }

.justify-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between; }
  .justify-space-between.grid {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify; }
    .justify-space-between.grid [class*="col-"] {
      text-align: left;
      text-align: start;
      -moz-text-align-last: left;
      -moz-text-align-last: start;
      text-align-last: left;
      text-align-last: start; }

.justify-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .justify-space-around.grid {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify; }
    .justify-space-around.grid [class*="col-"] {
      text-align: left;
      text-align: start;
      -moz-text-align-last: left;
      -moz-text-align-last: start;
      text-align-last: left;
      text-align-last: start; }

.grid-bleed [class*="col-"] {
  padding: 0; }

.col-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  .col-grid.direction-row {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row; }

.col-bleed {
  padding: 0; }

.col-bleed-x {
  padding: 15px 0; }

.col-bleed-y {
  padding: 0 15px; }

.flex-img {
  display: block;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
  width: 100%;
  *width: auto; }

.flex-footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0; }
  .flex-footer > :last-child {
    margin-bottom: 0; }

@media (max-width: 575px) {
  .hidden-xxs {
    display: none; } }

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-xs {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none; } }

@media (min-width: 1200px) and (max-width: 1599px) {
  .hidden-lg {
    display: none; } }

@media (min-width: 1600px) {
  .hidden-xlg {
    display: none; } }

.select2-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }

.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none; }

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative; }

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px; }

.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none; }

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.select2-container .select2-search--inline {
  float: left; }

.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0; }

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none; }

.select2-results__option[aria-selected] {
  cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none; }

.select2-search--dropdown.select2-search--hide {
  display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px; }

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold; }

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%; }

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none; }

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left; }

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), to(#eeeeee));
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px; }

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px; }

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999; }

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(#cccccc));
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none; }

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, #eeeeee));
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eeeeee), to(white));
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb; }

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px; }

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }

.select2-container--classic .select2-dropdown--below {
  border-top: none; }

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }

@font-face {
  font-family: openSans;
  src: url(../css/fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: openSans;
  font-weight: 700;
  src: url(../css/fonts/OpenSans-Bold.ttf); }

@font-face {
  font-family: openSans;
  font-style: italic;
  src: url(../css/fonts/OpenSans-Italic.ttf); }

@font-face {
  font-family: 'fontello';
  src: url("../css/fonts/fontello.eot?83736012");
  src: url("../css/fonts/fontello.eot?83736012") format("embedded-opentype"), url("../css/fonts/fontello.woff2?83736012") format("woff2"), url("../css/fonts/fontello.woff?83736012") format("woff"), url("../css/fonts/fontello.ttf?83736012") format("truetype"), url("../css/fonts/fontello.svg?83736012") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?31728381#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-search:before {
  content: '\e801'; }

/* '' */
.icon-calc:before {
  content: '\f1ec'; }

/* '' */
body {
  font-family: openSans, Arial, Helvetica, sans-serif; }

body.pop-up-opened {
  overflow: hidden; }
  body.pop-up-opened .pop-up {
    opacity: 1;
    visibility: visible; }

.pop-up {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  -webkit-transition: opacity .5s ease, visibility .5s ease;
  -o-transition: opacity .5s ease, visibility .5s ease;
  transition: opacity .5s ease, visibility .5s ease;
  opacity: 0;
  visibility: hidden; }

.pop-up-box {
  border: 10px solid #2471a7;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 80%;
  width: 60%; }
  .pop-up-box h2 {
    text-align: center;
    color: #2471a7;
    font-size: 45px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0; }
    .pop-up-box h2 .pop-up-pm {
      font-weight: 900; }
  .pop-up-box .pop-up-img {
    text-align: center; }
    .pop-up-box .pop-up-img img {
      height: 230px;
      width: 450px; }
  .pop-up-box p {
    color: #2471a7;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin: 0;
    font-weight: 700; }
  .pop-up-box .pop-up-input-div {
    text-align: center; }
    .pop-up-box .pop-up-input-div .pop-up-input {
      color: #2471a7;
      background-color: #bcd5e5;
      border: 2px solid #2471a7;
      font-size: 25px;
      text-align: center;
      font-style: italic;
      padding: 5px 40px;
      margin-top: 10px; }
  .pop-up-box .sign-up-div {
    margin-top: 10px;
    text-align: center; }
    .pop-up-box .sign-up-div a {
      background-color: #bcd5e5;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 25px;
      color: #ffffff;
      width: 350px;
      display: inline-block; }

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #f89d3e; }

.close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

hr {
  margin: 0; }

.portfolio h3 {
  color: #555; }

.portfolio .logo-portfolio {
  margin-top: 40px;
  margin-bottom: 30px; }

.portfolio .btn:first-child {
  margin-right: 20px; }

.breakout .btn:first-child {
  margin-bottom: 10px; }

.calculator {
  background-image: url(/img/calc-background.png);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .calculator .calc-title {
    background-image: url(/img/white-title.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 98px; }
    .calculator .calc-title .title {
      font-size: 24px;
      color: #2471a7;
      margin-top: 10px;
      text-transform: uppercase;
      padding-top: 30px; }
  .calculator h4 {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase; }

.calculator-details .calc-info {
  margin: 25px 0; }
  .calculator-details .calc-info .first-part .calc-info-span {
    color: #ffffff;
    font-size: 20px;
    margin: 0 20px;
    display: inline-block; }
  .calculator-details .calc-info .first-part input {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 15px;
    width: 80px;
    display: inline-block; }
  .calculator-details .calc-info .second-part span {
    display: inline-block;
    color: #ffffff;
    font-size: 20px; }
  .calculator-details .calc-info .second-part .input-wrap {
    display: inline-block;
    margin: 30px 30px 0 30px; }
    .calculator-details .calc-info .second-part .input-wrap.input-test {
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 5px; }
      .calculator-details .calc-info .second-part .input-wrap.input-test input {
        padding: 0 34px 0 4px;
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center; }
      .calculator-details .calc-info .second-part .input-wrap.input-test span {
        height: auto;
        padding: 0 8px;
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        line-height: 47px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .calculator-details .calc-info .second-part .input-wrap.input-test-months {
      position: relative;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.3); }
      .calculator-details .calc-info .second-part .input-wrap.input-test-months input {
        padding: 0 34px 0 4px;
        border: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center; }
      .calculator-details .calc-info .second-part .input-wrap.input-test-months span {
        height: auto;
        position: absolute;
        padding: 0 8px;
        top: -1px;
        bottom: -1px;
        right: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        line-height: 47px; }
    .calculator-details .calc-info .second-part .input-wrap input {
      display: inline-block;
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      color: #ffffff;
      width: 75px;
      height: 45px; }
    .calculator-details .calc-info .second-part .input-wrap span {
      background-color: #ffffff;
      color: #4d9fd7;
      border-radius: 5px;
      height: 45px; }

.calculator-results {
  padding-bottom: 1px; }
  .calculator-results h3 {
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase; }
  .calculator-results p {
    font-size: 20px;
    font-style: italic;
    color: #ffffff; }
  .calculator-results h4 {
    color: #f89d3e;
    font-size: 20px; }
    .calculator-results h4 span {
      font-weight: 700; }
  .calculator-results h5 {
    font-size: 25px;
    color: #ffffff; }
    .calculator-results h5 span {
      font-weight: 700; }

.select-big + .select2-container .select2-selection--single {
  border-radius: 4px;
  background-color: #4d9fd7;
  width: 230px;
  height: 40px;
  position: relative; }
  .select-big + .select2-container .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
    font-weight: 900;
    font-size: 17px;
    padding-top: 7px; }
  .select-big + .select2-container .select2-selection--single .select2-selection__arrow {
    top: 6px; }
    .select-big + .select2-container .select2-selection--single .select2-selection__arrow b {
      border-top-color: #ffffff; }

.select2-container--open .select2-dropdown--below {
  background-color: #4d9fd7;
  border-radius: 4px;
  color: #ffffff;
  width: 230px !important;
  font-weight: 900; }

.calculator-details .calc-info .first-part .select2-container--default .select2-selection--single {
  background-color: #4d9fd7;
  font-weight: 900;
  font-size: 17px;
  position: relative;
  width: 100px; }
  .calculator-details .calc-info .first-part .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff; }
  .calculator-details .calc-info .first-part .select2-container--default .select2-selection--single b {
    border-top-color: #ffffff; }

.calc-btn {
  background-color: #ffffff;
  color: #2471a7;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  border-radius: 7px;
  padding: 10px 150px 10px 20px;
  cursor: pointer;
  position: relative; }
  .calc-btn:hover .icon-calc {
    top: 10%;
    right: 0;
    font-size: 30px; }
  .calc-btn .icon-calc {
    position: absolute;
    top: 20%;
    right: 10%;
    -webkit-transition: right .7s ease, font-size .7s ease, top .7s ease;
    -o-transition: right .7s ease, font-size .7s ease, top .7s ease;
    transition: right .7s ease, font-size .7s ease, top .7s ease; }

.about {
  margin: 45px; }
  .about h2 {
    color: #2471a7;
    text-transform: uppercase;
    font-size: 35px; }
  .about p {
    font-size: 20px;
    color: #555; }
    .about p a {
      text-decoration: none;
      color: blue; }
  .about .btn-read-more {
    margin-bottom: 25px; }
  .about hr {
    border: 0.5px solid #555; }

.basics-of-traiding {
  margin: 45px; }
  .basics-of-traiding h2 {
    color: #2471a7;
    text-transform: uppercase;
    font-size: 35px; }
  .basics-of-traiding p {
    font-size: 20px;
    color: #555; }
    .basics-of-traiding p a {
      text-decoration: none;
      color: blue; }

.discount h2 {
  color: #555;
  font-size: 40px;
  text-align: center;
  font-weight: 200;
  margin: 40px 0; }

.newsletter {
  background-image: url(../img/bg-newsletter.jpg);
  text-align: center;
  padding: 40px; }
  .newsletter h2 {
    font-weight: 700;
    color: #ffffff;
    font-size: 40px; }
  .newsletter p {
    font-size: 21px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 60px; }
  .newsletter input {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 18px;
    padding: 20px;
    width: 300px;
    color: #ffffff; }

.testimonials {
  background-image: url(../img/bg-testimonials-home.png); }
  .testimonials .slider-controls {
    margin-top: 90px; }
    .testimonials .slider-controls button {
      border: none;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0);
      font-size: 40px;
      font-weight: 700;
      margin-right: 10px;
      cursor: pointer; }
  .testimonials .person-pic {
    margin-top: 30px; }
    .testimonials .person-pic img {
      border-radius: 50%;
      display: block;
      max-width: 70%; }
  .testimonials .testimonials-title {
    background-image: url(/img/white-title.png);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    border-radius: 5px; }
  .testimonials h3 {
    font-size: 30px;
    color: #4d9fd7;
    margin-top: 20px;
    text-transform: uppercase;
    padding-top: 20px; }
  .testimonials .owl-carousel h3 {
    color: #ffffff;
    text-transform: none;
    font-size: 40px; }
  .testimonials .owl-carousel .person-speech {
    color: #ffffff;
    text-transform: none;
    font-size: 22px; }
  .testimonials .testimonials-button {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 55px; }

.bottom-navigation {
  background-color: #2471a7; }
  .bottom-navigation .first-part-nav li {
    display: inline-block;
    margin: 20px 20px; }
    .bottom-navigation .first-part-nav li a {
      text-decoration: none;
      color: #aedeff;
      font-size: 14px; }
  .bottom-navigation .second-part-nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    margin-top: 25px; }
  .bottom-navigation .second-part-nav .btn-privacy,
  .bottom-navigation .second-part-nav .btn-faq,
  .bottom-navigation .second-part-nav .btn-contact {
    color: #2471a7;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 2px; }
  .bottom-navigation .second-part-nav .btn-terms {
    color: #2471a7;
    background-color: #fde3cf;
    padding: 10px 15px;
    border-radius: 2px; }
  .bottom-navigation .second-part-nav .btn-basics {
    background-color: #4d9fd7;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 2px; }

.quick-links {
  background-color: #2471a7; }
  .quick-links p {
    margin-left: 40px;
    color: #aedeff;
    font-weight: 700; }
  .quick-links ul {
    color: #aedeff; }
    .quick-links ul a {
      text-decoration: none;
      color: #aedeff;
      font-size: 15px; }

.last-part {
  background-color: #2471a7;
  color: #aedeff;
  font-size: 17px; }
  .last-part span {
    cursor: pointer; }

.btn-blue {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #4d9fd7;
  color: white;
  padding: 5px;
  border-radius: 2px;
  margin-top: 15px;
  -webkit-transition: background-color .7s ease, font-weight .7s ease, -webkit-transform .7s ease;
  transition: background-color .7s ease, font-weight .7s ease, -webkit-transform .7s ease;
  -o-transition: background-color .7s ease, transform .7s ease, font-weight .7s ease;
  transition: background-color .7s ease, transform .7s ease, font-weight .7s ease;
  transition: background-color .7s ease, transform .7s ease, font-weight .7s ease, -webkit-transform .7s ease; }
  .btn-blue:hover {
    background-color: #f89d3e;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    font-weight: 600; }

.btn-orange {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f89d3e;
  color: white;
  padding: 5px;
  border-radius: 2px;
  margin-top: 15px;
  -webkit-transition: background-color .7s ease, font-weight .7s ease, -webkit-transform .7s ease;
  transition: background-color .7s ease, font-weight .7s ease, -webkit-transform .7s ease;
  -o-transition: background-color .7s ease, transform .7s ease, font-weight .7s ease;
  transition: background-color .7s ease, transform .7s ease, font-weight .7s ease;
  transition: background-color .7s ease, transform .7s ease, font-weight .7s ease, -webkit-transform .7s ease; }
  .btn-orange:hover {
    background-color: #4d9fd7;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    font-weight: 600; }

.btn-big {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 25px 100px;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 80px;
  -webkit-transition: background-color .7s ease, color .7s ease, -webkit-transform .7s ease;
  transition: background-color .7s ease, color .7s ease, -webkit-transform .7s ease;
  -o-transition: background-color .7s ease, color .7s ease, transform .7s ease;
  transition: background-color .7s ease, color .7s ease, transform .7s ease;
  transition: background-color .7s ease, color .7s ease, transform .7s ease, -webkit-transform .7s ease; }
  .btn-big:hover {
    background-color: #ffffff;
    color: #006898;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.btn {
  display: inline-block;
  padding: 10px 20px;
  width: 160px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700; }
  .btn:hover::after {
    left: 50px; }
  .btn::after {
    content: '>';
    color: #ffffff;
    position: relative;
    left: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: left .3s ease;
    -o-transition: left .3s ease;
    transition: left .3s ease; }

.btn-read-more {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3074ac), to(#06699b));
  background-image: -webkit-linear-gradient(#3074ac, #06699b);
  background-image: -o-linear-gradient(#3074ac, #06699b);
  background-image: linear-gradient(#3074ac, #06699b); }

.btn-buy-now {
  background-color: #4d9fd7; }

.btn-sign-up {
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 20px;
  cursor: pointer; }

.top-header {
  background-color: #006898; }
  .top-header input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #4d9fd7;
    color: #ffffff;
    padding: 5px;
    border-radius: 2px; }
    .top-header input::-webkit-input-placeholder {
      color: #4d9fd7; }
    .top-header input:-ms-input-placeholder {
      color: #4d9fd7; }
    .top-header input::-ms-input-placeholder {
      color: #4d9fd7; }
    .top-header input::placeholder {
      color: #4d9fd7; }

.log-in {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: none; }

.icon-search {
  font-size: 10px;
  -webkit-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease; }
  .icon-search:hover {
    font-size: 15px; }

.search {
  float: right; }

.sign-in,
.forms,
.log-in,
.reg {
  display: inline-block;
  margin: 10px;
  font-size: 15px;
  color: #ffffff; }

.reg {
  color: #4d9fd7; }

.s-search {
  border: 1px solid #4d9fd7; }

.site-header {
  display: block; }
  .site-header img {
    max-width: 100%; }
  .site-header li {
    display: inline-block;
    -webkit-transition: background-color 4s ease;
    -o-transition: background-color 4s ease;
    transition: background-color 4s ease; }
    .site-header li .active {
      background-color: #006898;
      color: white; }
    .site-header li a {
      text-decoration: none;
      font-size: 14px;
      color: #006898;
      padding: 8px 12px;
      border-radius: 2px; }
    .site-header li :hover {
      background-color: #006898;
      color: white; }
  .site-header .button-wrap {
    text-align: right; }

.intro-home {
  background-image: url(../img/bg-intro-home.jpg);
  text-align: center;
  background-position: center center;
  background-size: cover; }
  .intro-home h1 {
    font-size: 60px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 60px;
    margin-bottom: 0; }
  .intro-home p {
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 35px; }

/*# sourceMappingURL=main.css.map */