.btn-blue {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $blue-light;
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin-top: 15px;
    transition: background-color .7s ease, transform .7s ease, font-weight .7s ease;

    &:hover {
        background-color: $orange;
        transform: scale(1.1);
        font-weight: 600;
    }

}

.btn-orange {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $orange;
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin-top: 15px;
    transition: background-color .7s ease, transform .7s ease, font-weight .7s ease;

    &:hover {
        background-color: $blue-light;
        transform: scale(1.1);
        font-weight: 600;
    }
}


.btn-big {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    border: 2px solid $white;
    border-radius: 6px;
    padding: 25px 100px;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 80px;
    transition: background-color .7s ease, color .7s ease, transform .7s ease;

    &:hover {
        background-color: $white;
        color: $blue;
        transform: scale(1.1);

    }
}



.btn {
    display: inline-block;
    padding: 10px 20px;
    width: 160px;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;

    &:hover {
        
        &::after {
            left: 50px;
        }
    }

    &::after {
        content: '>';
        color: $white;
        position: relative;
        left: 30px;
        transform: translateY(-50%);
        transition: left .3s ease;
    }
}

.btn-read-more {
    background-image: linear-gradient(#3074ac, #06699b);
}

.btn-buy-now {
    background-color: #4d9fd7;      
}

.btn-sign-up {
    text-transform: uppercase;
    background-color: $transparent;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border: 2px solid $white;
    border-radius: 2px;
    margin-left: 20px;
    cursor: pointer;
}