body {
    font-family: openSans, Arial, Helvetica, sans-serif;
}

body.pop-up-opened {
    overflow: hidden;
    
    .pop-up {
        opacity: 1;
        visibility: visible;
    }
}


.pop-up {
    background-color: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    transition: opacity .5s ease, visibility .5s ease;
    opacity: 0;
    visibility: hidden;
    
}

.pop-up-box {
    border: 10px solid $calc-blue;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 60%;

    h2 {
        text-align: center;
        color: $calc-blue;
        font-size: 45px;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        

        .pop-up-pm {
            font-weight: 900;
        }
    }

    .pop-up-img {
        text-align: center;

        img {
            height: 230px;
            width: 450px;
        }
    }

    p {
        color: $calc-blue;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
        margin: 0;
        font-weight: 700;
    }

    .pop-up-input-div {
        text-align: center;

        .pop-up-input {
            color: $calc-blue;
            background-color: $blue-grey;
            border: 2px solid $calc-blue;
            font-size: 25px;
            text-align: center;
            font-style: italic;
            padding: 5px 40px;
            margin-top: 10px;
        }
    }
    

    .sign-up-div {
        
        margin-top: 10px;
        text-align: center;      

        a {
            background-color: $blue-grey;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 25px;
            color: $white;
            width: 350px;
            display: inline-block;
        }
    }
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $orange;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }



hr {
    margin: 0;
}

.portfolio {

    h3 {
        color: $dark-grey;
    }

    .logo-portfolio {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .btn {

        &:first-child {
            margin-right: 20px;
        }
    }
}

.breakout {

    .btn {
        
        &:first-child {
            margin-bottom: 10px;
        }
    }
}


.calculator {
    background-image: url(/img/calc-background.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

    .calc-title {
        background-image: url(/img/white-title.png);
        background-position: center center;
        background-repeat: no-repeat;
        height: 98px;

        .title {
            font-size: 24px;
            color: $calc-blue;
            margin-top: 10px;
            text-transform: uppercase;
            padding-top: 30px;
        }
    }

    h4 {
        font-size: 20px;
        color: $white;
        text-transform: uppercase;
    }
}

.calculator-details {

    .calc-info {
        margin: 25px 0;

        .first-part {

            .calc-info-span {
                color: $white;
                font-size: 20px;
                margin: 0 20px;
                display: inline-block;
            }

            input {
                background-color: $transparent;
                color: $white;
                border-radius: 5px;
                border: 1px solid rgba(255,255,255,.3);
                padding: 10px 15px;
                width: 80px;
                display: inline-block;
                
            }
        }

        .second-part {
            
            span {
                display: inline-block;
                color: $white;
                font-size: 20px;
            }

            .input-wrap {
                display: inline-block;
                margin: 30px 30px 0 30px;

                &.input-test {
                    position: relative;
                    border: 1px solid rgba(255,255,255,.3);
                    border-radius: 5px;

                    input {
                        padding: 0 34px 0 4px;
                        border: none;
                        box-sizing: border-box;
                        text-align: center;
                    }

                    span {
                        height: auto;
                        padding: 0 8px;
                        position: absolute;
                        top: -1px;
                        right: -1px;
                        bottom: -1px;
                        line-height: 47px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                &.input-test-months {
                    position: relative;
                    border-radius: 5px;
                    border: 1px solid rgba(255,255,255,.3);

                    input {
                        padding: 0 34px 0 4px;
                        border: none;
                        box-sizing: border-box;
                        text-align: center;
                    }

                    span {
                        height: auto;
                        position: absolute;
                        padding: 0 8px;
                        top: -1px;
                        bottom: -1px;
                        right: -1px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        line-height: 47px;   
                    }
                }

                input {
                    display: inline-block;
                    font-size: 18px;
                    background-color: $transparent;
                    border: 1px solid rgba(255,255,255,.3);
                    border-radius: 5px;
                    color: $white;
                    width: 75px;
                    height: 45px;
                }
                
                span {
                    background-color: $white;
                    color: $blue-light;
                    border-radius: 5px;
                    height: 45px;

                }
            }
        }
    }
}


.calculator-results {
    padding-bottom: 1px;

    h3 {
        font-size: 28px;
        color: $white;
        text-transform: uppercase;
    }

    p {
        font-size: 20px;
        font-style: italic;
        color: $white;
    }

    h4 {
        color: $orange;
        font-size: 20px;

        span {
            font-weight: 700;
        }
    }

    h5 {
        font-size: 25px;
        color: $white;

        span {
            font-weight: 700;
        }

    }
}

.select-big + .select2-container {

    .select2-selection--single {
        border-radius: 4px;
        background-color: $blue-light;
        width: 230px;
        height: 40px;
        position: relative;

        .select2-selection__rendered {
            color: $white;
            font-weight: 900;
            font-size: 17px;
            padding-top: 7px;
        }

        .select2-selection__arrow  {
            top: 6px;

            b {
                border-top-color: $white; 
            }
        }
    }
}

.select2-container--open .select2-dropdown--below {
    background-color: $blue-light;
    border-radius: 4px;
    color: $white;
    width: 230px !important;
    font-weight: 900;
}


.calculator-details .calc-info .first-part {

    .select2-container--default {

        &.select2-container--open {


        }

        .select2-selection--single {
            background-color: $blue-light;
            font-weight: 900;
            font-size: 17px;
            position: relative;
            width: 100px;
    
            .select2-selection__rendered {
                color: $white;
            }
    
            b {
                border-top-color: $white;
            }
        }
    }
}

.calc-btn {
    background-color: $white;
    color: $calc-blue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    border-radius: 7px;
    padding: 10px 150px 10px 20px;
    cursor: pointer;
    position: relative;

    &:hover {
    
        .icon-calc {
            top: 10%;
            right: 0;
            font-size: 30px;
        }

    }

    .icon-calc { 
        position: absolute;
        top: 20%;
        right: 10%;
        transition: right .7s ease, font-size .7s ease, top .7s ease;
          
    }
}



.about {
    margin: 45px;

    h2 {
        color: $calc-blue;
        text-transform: uppercase;
        font-size: 35px;  
    }

    p {
        font-size: 20px;
        color: $dark-grey;

        a {
            text-decoration: none;
            color: $blue-link;
        }
    }

    .btn-read-more {
        margin-bottom: 25px;
    }

    hr {
        border: .5px solid $dark-grey;
    }
}

.basics-of-traiding {
    margin: 45px;

    h2 {
        color: $calc-blue;
        text-transform: uppercase;
        font-size: 35px;
    }

    p {
        font-size: 20px;
        color: $dark-grey;

        a {
            text-decoration: none;
            color: $blue-link;
        }
    }

}

.discount {

    h2 {
        color: $dark-grey;
        font-size: 40px;
        text-align: center;
        font-weight: 200;
        margin: 40px 0;
    }
}

.newsletter {
    background-image: url(../img/bg-newsletter.jpg);
    text-align: center;
    padding: 40px;

    h2 {
        font-weight: 700;
        color: $white;
        font-size: 40px;
    }

    p {
        font-size: 21px;
        color: $white;
        font-weight: 200;
        margin-bottom: 60px;
    }

    input {
        background-color: $transparent;
        border: 2px solid $white;
        border-radius: 2px;
        font-size: 18px;
        padding: 20px;
        width: 300px;
        color: $white;
    }

}

.testimonials {
    background-image: url(../img/bg-testimonials-home.png);

    .slider-controls {

        margin-top: 90px;

        button {
            border: none;
            color: $white;
            background-color: $transparent;
            font-size: 40px;
            font-weight: 700;
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .person-pic {

        margin-top: 30px;

        img {
            border-radius: 50%;  
            display: block;
            max-width: 70%;
        }
    
    }

    .testimonials-title {
        background-image: url(/img/white-title.png);
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 10px;
        border-radius: 5px;
    }


    h3 {
        font-size: 30px;
        color: $blue-light;
        margin-top: 20px;
        text-transform: uppercase;
        padding-top: 20px;
        }


    .owl-carousel {

        h3 {
            color: $white;
            text-transform: none;
            font-size: 40px;
        }

        .person-speech {
            color: $white;
            text-transform: none;
            font-size: 22px;
        }
    }

    .testimonials-button {
        border: 1px solid $white;
        border-radius: 4px;
        background-color: $transparent;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 55px;
        
    }
    
}

.bottom-navigation {
        background-color: $calc-blue;
    .first-part-nav {
           
        li {
            display: inline-block;
            margin: 20px 20px;

            a {
                text-decoration: none;
                color: $footer-blue;
                font-size: 14px;
            }
        }
    }

    .second-part-nav {
            
        a {
            display: inline-block;
            text-decoration: none;
            font-size: 14px;
            margin-top: 25px;
        }

        .btn-privacy,
        .btn-faq,
        .btn-contact {
            color: $calc-blue;
            background-color: $white;
            padding: 10px 15px;
            border-radius: 2px;
        }

        .btn-terms {
            color: $calc-blue;
            background-color: $light-orange;
            padding: 10px 15px;
            border-radius: 2px;
        }

        .btn-basics {
            background-color: $blue-light;
            color: $white;
            padding: 10px 15px;
            border-radius: 2px;
        }
    }
}

.quick-links {

    background-color: $calc-blue;

    p {
        margin-left: 40px;
        color: $footer-blue;
        font-weight: 700;
    }

    ul {
        color: $footer-blue;

        a {
            text-decoration: none;
            color: $footer-blue;
            font-size: 15px;
        }
    }
}

.last-part {
    background-color: $calc-blue;
    color: $footer-blue;
    font-size: 17px;

    span {
        cursor: pointer; 
    }
}