@font-face {
    font-family: openSans;
    src: url(../css/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: openSans;
    font-weight: 700;
    src: url(../css/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: openSans;
    font-style: italic;
    src: url(../css/fonts/OpenSans-Italic.ttf);
}