.top-header {
    background-color: $blue;

    input {
        background-color: $transparent;
        border: 1px solid $blue-light;
        color: $white;
        padding: 5px;
        border-radius: 2px;

        &::placeholder {
            color: $blue-light;
        }
    }
}


.log-in {
    background-color: $transparent;
    color: $white;
    border: none;
}

.icon-search {
    font-size: 10px;
    transition: font-size .7s ease;

    &:hover {
        font-size: 15px;
    }
}

.search {
    float: right;
}

.sign-in,
.forms,
.log-in,
.reg {
    display: inline-block;
    margin: 10px;
    font-size: 15px;
    color: $white;
}

.reg {
    color: $blue-light;
}

.s-search {
    border: 1px solid $blue-light;
}

.site-header {
        display: block;
        
        img {
            max-width: 100%;
        }

        li {
            display: inline-block;
            transition: background-color 4s ease;

                .active {
                    background-color: $blue;
                    color: white;
                }

            a {
            text-decoration: none;
            font-size: 14px;
            color: $blue;
            padding: 8px 12px;
            border-radius: 2px;
            }

            :hover {
                background-color: $blue;
                color: white;
            }

        }

        .button-wrap {
            text-align: right;
            // @media only screen and (max-width: 1400px) {
            //     a {
            //         display: block;
            //         margin-bottom: 4px;
            //     }
            // }
        }
}

.intro-home {
    background-image: url(../img/bg-intro-home.jpg);
    text-align: center;
    background-position: center center;
    background-size: cover;

    h1 {
        font-size: 60px;
        color: $white;
        text-transform: uppercase;
        padding-top: 60px;
        margin-bottom: 0;
    }

    p {
        font-size: 30px;
        color: $white;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-bottom: 35px;

    }
}