$blue: #006898 !default;
$blue-light: #4d9fd7 !default;
$orange: #f89d3e !default;
$transparent: rgba(0, 0, 0, 0);
$blue-lightest: rgba(77,159,215,0.4);
$white: #ffffff;
$black: #000000;
$dark-grey: #555;
$calc-blue: #2471a7;
$blue-link: blue;
$light-orange: #fde3cf;
$footer-blue: #aedeff;
$blue-grey: #bcd5e5;